[submodule "knowledge-database-management-service"]
	path = knowledge-database-management-service
	url = git@github.com:yhbcode000/knowledge-database-management-service.git
[submodule "musecoco-text2midi-service"]
	path = musecoco-text2midi-service
	url = git@github.com:yhbcode000/musecoco-text2midi-service.git
[submodule "llm-text2text-service"]
	path = llm-text2text-service
	url = git@github.com:yhbcode000/llm-text2text-service.git
